@model TDS171A_Prog_Visual_Trab.Models.Produto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alterando os dados de um PRODUTO";
}

<h1 class="my-4">Visualizando detalhes de um PRODUTO</h1>

<div class="row">
    <div class="col-lg-12 mb-12">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            <br />
            <div class="form-control">
                @Html.DisplayFor(model => model.Nome)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Categoria.Nome, "Categoria")
            <br />
            <div class="form-control">
                @Html.DisplayFor(model => model.Categoria.Nome)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Fabricante.Nome, "Fabricante")
            <br />
            <div class="form-control">
                @Html.DisplayFor(model => model.Fabricante.Nome)
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-lg-12 mb-12">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.ProdutoId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Retornar para a listagem", "Index")
    </div>
</div>

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
        });
    </script>
}