@model IEnumerable<TDS171A_Prog_Visual_Trab.Models.VendaItem>

@{
    ViewBag.Title = "Lista de Produtos";
}

<h2>Lista de Produtos</h2>

<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venda.NumeroNota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venda.NomeComprador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venda.NumeroNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>                    
                    @Html.ActionLink("Delete", "DeleteEdit", "VendaItems", new { id = item.VendaItemId }, null)
            </td>
        </tr>
    }

</table>