@model IEnumerable<TDS171A_Prog_Visual_Trab.Models.VendaItem>


@{
    ViewBag.Title = "Lista de Produtos";
}

<h2>Lista de Produtos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>

        <th>
            Total
        </th>

    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Nome)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.totalUnitario)
            </td>


            <td>
                @*@Html.ActionLink("Delete", "DeleteEdit", "VendaItems", new { id = item.VendaItemId }, null)*@
                <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#deleteConfirmationModal" data-item-id="@item.VendaItemId">Remover</a>
            </td>
        </tr>
    }

</table>