@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "HOME";
}

<h1 class="my-4">Home</h1>

<h2>Categorias</h2>
<div class="row">
    <div class="col-lg-12 mb-12">
        <div class="card h-100">
            @*<h4 class="card-header">Categorias</h4>*@
            <div class="card-body">
                <div class="col-md-10">
                    @foreach (var item in ViewBag.Categorias) {
                        <div>@item.Nome</div>
                    }
                </div>
            </div>
            @*<div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>*@
        </div>
    </div>
</div>

<h2>Fabricantes</h2>
<div class="row">
    <div class="col-lg-12 mb-12">
        <div class="card h-100">
            @*<h4 class="card-header">Fabricantes</h4>*@
            <div class="card-body">
                <div class="col-md-10">
                    @foreach (var item in ViewBag.Fabricantes) {
                        <div>@item.Nome</div>
                    }
                </div>
            </div>
            @*<div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>*@
        </div>
    </div>
</div>

<h2>Produtos</h2>
<div class="row mb-4">
    <div class="col-lg-12 mb-12">
        <div class="card h-100">
            @*<h4 class="card-header">Produtos</h4>*@
            <div class="card-body">
                <div class="col-md-10">
                    @foreach (var item in ViewBag.Produtos) {
                        <div>@item.Nome - @item.Categoria.Nome - @item.Fabricante.Nome</div>
                    }
                </div>
            </div>
            @*<div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>*@
        </div>
    </div>
</div>

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $("li").removeClass('active');
            $("#liHome").addClass('active');
        });
    </script>
}
