@model TDS171A_Prog_Visual_Trab.Models.Categoria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Visualizando detalhes de uma CATEGORIA";
}

<h1 class="my-4">Visualizando detalhes de uma CATEGORIA</h1>

<div class="row">
    <div class="col-lg-12 mb-12">
        <div class="form-group">
            @Html.LabelFor(model => model.Nome)
            <br />
            <div class="form-control">
                @Html.DisplayFor(model => model.Nome)
            </div>
        </div>
    </div>
</div>

<div class="row mb-4">
    <div class="col-lg-12 mb-12">
        @Html.ActionLink("Alterar", "Edit", new { id = Model.CategoriaId }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Retornar para a listagem", "Index")
    </div>
</div>

@Html.Partial("~/Views/Produtos/_PorCategoria.cshtml", Model.Produtos.ToList())

@section ScriptPage {
    <script type="text/javascript">
        $(document).ready(function () {
            $("li").removeClass('active');
            $("#liCategorias").addClass('active');
        });
    </script>
}
